In [1]:
import pandas as pd

In [13]:
#Reading a txt file

txtdata =pd.read_table("C:/Users/HP/Documents/DEMILADE/assignment.txt", sep=";")

In [5]:
txtdata.head()

  Once upon a time a psychology
0       professor walked around
1        a stage while teaching
2   stress managemnet principle
3       to an auditorium filled
4                 with students.

In [16]:
txtdata.tail()

                    Once upon a time a psychology
9                     or glass half full question.
10                                        Instead,
11                      with a smile on her face,
12                           the professor asked,
13  How heavy is this glass of water I am holding?